---
# file: roles/veracrypt/tasks/repo-RedHat.yml

- name: "RedHat: Add CERT Forensics Tools repository"
  become: true
  yum:
    name: "https://forensics.cert.org/cert-forensics-tools-release-el{{ ansible_distribution_major_version }}.rpm"
    state: present
    disable_gpg_check: true
  register: veracrypt_repo
